<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code generator</title>
    <link rel="stylesheet" href="/vendor/normalize.css/normalize.css">
    <link rel="prefetch" href="/sw.js">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Code generator">
    <meta name="application-name" content="Code generator">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style media="screen">
        * {
            box-sizing: border-box;
        }

        body,
        textarea,
        output {
            padding: 1em;
        }

        output,
        textarea {
            font-size: 0.8em;
        }

        body {
            line-height: 1.5;
        }

        h1 {
            font-size: 1.5em;
        }

        button {
            font-size: 1.2em;
        }

        input {
            padding: 0.5em;
        }

        input,
        textarea {
            width: 100%;
            line-height: inherit;
            font-family: inherit;
        }

        fieldset {
            margin: 1em 0;
        }

        em {
            margin: 0 0.5em;
        }

        output {
            display: block;
            background: #eee;
            border: 1px solid #ccc;
        }

        label {
            display: block;
        }

        @media (min-width: 760px) {
            .code {
                width: 2em;
            }

            main {
                display: -ms-grid;
                display: grid;
                grid-column-gap: 2em;
                -ms-grid-columns: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
            }
        }
    </style>
</head>
<body>
    <main>
        <section>
            <h1>Code generator</h1>
            <form action="/">
                <fieldset>
                    <legend>Formule</legend>
                    <label for="alphabet">Alfabet</label>
                    <input required type="text" name="alphabet" id="alphabet" value="{{ alphabet or 'abcdefghijklmnopqrstuvwxyz1234567890' }}">
                    <div>en</div>
                    <input class="code" title="Geef 1 letter of cijfer op." type="text" name="transform_start" value="{{ transform_start or 'a' }}" placeholder="a" maxlength="1" pattern="[a-zA-Z0-9]" required>
                    <em>wordt</em>
                    <input class="code" title="Geef 1 letter of cijfer op." type="text" name="transform_end" value="{{ transform_end or 'b' }}" placeholder="b" maxlength="1" pattern="[a-zA-Z0-9]" required>
                </fieldset>
                <fieldset>
                    <legend>Originele tekst</legend>
                    <textarea maxlength="1750" name="input" rows="10" cols="40" placeholder="Originele tekst" required>{{ input }}</textarea>
                </fieldset>
                <div>
                    <button type="submit">Doe berekenen dan!</button>
                    <a href="/">Reset</a>
                </div>
            </form>
        </section>
        <section>
            <h2>Code</h2>
            <output name="result">{{ output }}</output>
        </section>
    </main>

    <script type="text/javascript">
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js', {
                scope: '/'
            });
        }
    </script>
</body>
</html>
